
body, h1, h2, h3, p,header h1 {
    margin: 0;
    padding: 0;
    font-family: 'Monte';
}
@font-face {
    font-family: "Sportypo";
    src:url(Sportypo-Reguler-Demo.ttf)format(TrueType);
}
@font-face {
    font-family: "Monte";
    src:url(Montserrat-VariableFont_wght.ttf)format(TrueType);
}
.fixed-header {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.699);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 999; /* Ensure the header appears above other content */
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.header-text {
    color: white;
    font-size: 24px;
    margin: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
    transform: translateY(0);
}

.container {
    margin-top: 200px; /* Adjust this value to create space below the logo after animation */
    transition: margin-top 0.5s ease; /* Apply transition for margin-top */
}
body {
    font-family: "Monte";
    background-color: #09090a;
    margin: 0;
    margin-top: 90px;
    font: 1em/1.4 Monte;
    background: url(wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional, for a fixed background */
}
  .shadow {
    border-radius: 1px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
  }


/* Navigation styles */
nav ul {
    display:inline-block;
    margin-left: -1em;
    margin-top: -1em;
    list-style-type:none;
    font-family: Monte;
    font-size: 1em;
    font-weight: bold;
    text-indent: 0.4em;
}


nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

/* Main content container */
section {
    padding: 20px;
    margin: 20px;
    border-radius: 1%;
    backdrop-filter: blur(10px);
    background-color: #0063c08c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.61);
}

/* Player profile styles */
.player {
    text-align: center;
}

.player img {
    max-width: 150px;
    border-radius:5%;
    margin: 10px auto;
}
.coontact{
     text-align: center;
    background-color: #3800a018;

}

/* Match styles */
.match {
    padding: 10px;
    margin: 10px 0;
}
/* News article styles */
.news-article {
    background-color: #302e2e00;
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #00000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;

}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 24px;
    }
}
/* Add this CSS to your style.css file */
.players-container {
    margin-top: 1%;
    display:flex;
    justify-content: center;
    
}

.player {
    text-align: center;
    border-radius:5%;
   width: 18em;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 1%;
    margin:auto;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.2);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .players-container {
        flex-direction: column;
    }

    .player {
        width: 100%;
    }
}
h2 {
    color: rgb(255, 255, 255);
}
h3 {
    color: rgb(255, 255, 255);
}
p {
    color: rgb(255, 255, 255);
}
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00000000;
    align-items: flex-start;
    height: 200vh;
  }
  
  .text {
    font-size: 10vw;
    letter-spacing: -.01em;
    line-height: 100%;
    margin: 0;
    width: 100%;
    color: rgb(182, 182, 182, 0.2);
    background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
    border-bottom: 1px solid #2F2B28;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4246ce;
    color: #0D0D0D;
    
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transform-origin: center;
    transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .text:hover > span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
header h1 {
    text-align: center;
    display:inline-block; 
    font-family: Monte;
    font-style: italic;
    color: #ffffff00;
      animation: flicker 1.5s infinite alternate;   

}
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #ff00dd,
        0 0 40px rgb(255, 0, 179),
        0 0 80px rgb(255, 0, 212),
        0 0 90px rgb(255, 0, 255),
        0 0 100px rgb(255, 0, 242),
        0 0 150px rgb(255, 0, 221);
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
header h2{

    padding:2px;
    text-align:left;
    margin-left: 1%;
    margin-right:30%;
}
 p{
    padding:2px;
    text-align:center;
}
h5{
    font-family: Monte;
    font-size: xx-large;
    padding:0.5em;
    margin-top: 0em;
    margin-bottom: 0em;
    background-color: rgba(0, 0, 0, 0.459);
    backdrop-filter: blur(10px);
}


/* Apply the same effect to other sections if desired */
section {
    background: rgba(0, 0, 0, 0.459);
    padding: 20px;
}

/* Add a shadow to make the text more readable */
h2, p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    font-family: 'Monte';
    text-decoration: none;
    box-sizing: border-box;
}
.frame {
    position: relative;
    display: block;
    top: 37vh;
}
b {
    z-index: 1;
    transition: all .2s;
    position: relative;
    max-width: fit-content;
    display: inline-block;
    margin: 0 auto;
    color:white;
}

b:hover {
    text-decoration: none;
    transform: translate(-5px,-5px);
}
k {
    z-index: 1;
    transition: all .3s;
    position: relative;
    display: inline-block;
}

k:hover {
    text-decoration: none;
    transform: translate(-5px,-5px);
}


.button {
    display: block;
    z-index: 0;
    color: #000;
    text-align: center;
    background-color: rgba(255,255,255,.3);
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    transition: all .2s;
    position: relative;
    transform: translate(0);
    box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
}

.button:hover {
    text-decoration: none;
    transform: translate(-5px,-5px);
}

.button_bg-grad {
    z-index: -2;
    background: linear-gradient(20deg, rgba(241,85,76,1) 0%, rgba(247,225,150,1) 100%);
    background-position: 0 0;
    background-size: cover;
    border-radius: 4px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: translate(0.5rem,0.5rem);
    pointer-events: none;
}
/* CSS for the pop animation */
.pop {
    animation-name: pop;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(0.5);
  }
  
  @keyframes pop {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .fade-out-animation {
    animation-name: slideFadeOut;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideFadeOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
Z{
    text-align:center;
}
h2{
 text-align: left;
}
/* about */
h6{
    color: white;
    font-family: Monte;
    font-size: 2em;
text-align: center;
margin:auto;
    
}
h7{
    color: white;
font-family: Monte;
font-size: 1.5em;
font-weight: bold;
}
section p{
    text-align: left;
    font-size: 200%%;
}
